.btn {
  align-items: center;
  background-clip: padding-box;
  border-color: transparent;
  display: inline-flex;
  justify-content: center;
  padding: 7px 13px;
  position: relative;
  transition: background 0.2s, border-color 0.2s, color 0.2s, transform 0.2s;
  white-space: nowrap;

  &:active {
    transform: scale(0.95);
  }

  &:hover,
  &:focus,
  &:active,
  &:active:hover,
  &:active:focus,
  &[disabled]:hover,
  .open > &.dropdown-toggle,
  .open > &.dropdown-toggle:hover,
  .open > &.dropdown-toggle:focus,
  .open > &.dropdown-toggle:active {
    border-color: transparent;
    box-shadow: none;
    outline: 0 !important;
  }

  // Colors

  &-default {
    &,
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus,
    &[disabled]:hover,
    .open > &.dropdown-toggle {
      background-color: $color-gray-03;
      color: $color-gray-00;
    }

    &:hover,
    &:active:hover,
    &:active:focus,
    .open > &.dropdown-toggle:hover,
    .open > &.dropdown-toggle:focus,
    .open > &.dropdown-toggle:active {
      background-color: $color-gray-06;
    }

    .loader {
      color: $color-gray-02;
    }
  }

  &-primary {
    &,
    &:hover,
    &:focus,
    &:active,
    &[disabled]:hover {
      background-color: $color-purple-02;
    }

    &:hover,
    &:active:hover,
    &:active:focus {
      background-color: $color-purple-01;
    }

    .loader {
      color: $color-white;
    }
  }

  &-success {
    &,
    &:hover,
    &:focus,
    &:active,
    &[disabled]:hover {
      background-color: $color-green-03;
      color: $color-green-00;
    }

    &:hover,
    &:active:hover,
    &:active:focus {
      background-color: lighten($color-green-03, 4%);
      color: $color-green-00;
    }

    .loader {
      color: $color-green-00;
    }
  }

  &-danger {
    &,
    &:hover,
    &:focus,
    &:active,
    &[disabled]:hover {
      background-color: $color-red-00;
      color: $color-white;
    }

    &:hover,
    &:active:hover,
    &:active:focus {
      background-color: lighten($color-pink-00, 3%);
      color: $color-red-00;
    }

    .loader {
      color: $color-red-00;
    }
  }

  &-white {
    &,
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus,
    &[disabled]:hover,
    .open > &.dropdown-toggle {
      background-color: $color-white;
      border-color: $color-gray-06;
      color: $color-gray-00;
    }

    &:hover,
    &:active:hover,
    &:active:focus,
    .open > &.dropdown-toggle:hover,
    .open > &.dropdown-toggle:focus,
    .open > &.dropdown-toggle:active {
      border-color: $color-gray-02;
    }

    .loader {
      color: $color-gray-02;
    }
  }

  &-transparent {
    &,
    &:hover,
    &:focus,
    &:active,
    &[disabled]:hover {
      background-color: transparent;
    }

    .loader {
      color: $color-gray-07;
    }
  }

  &-premium {
    &,
    &:hover,
    &:focus,
    &:active,
    &[disabled]:hover {
      @include gradient-horizontal(#f8b1f2, $color-purple-02);

      color: $color-white;
    }

    .loader {
      color: $color-white;
    }
  }

  // Sizes

  &-sm {
    font-size: $font-size-small;
    padding: 6px 11px;

    .loader {
      font-size: 2px;
      top: 7px;
    }
  }

  &-lg {
    font-size: $font-size-large;
    padding: 14px 24px;

    .loader {
      font-size: 6px;
      top: 4px;
    }
  }

  // Loaders

  &-loading {
    color: transparent !important;

    .icon {
      fill: transparent;
    }
  }

  // Utils

  &-set {
    font-size: 0;
  }

  .icon {
    transition: all 0.2s;
  }
}

@-webkit-keyframes button-loader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes button-loader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
