.open {
  > .dropdown-menu {
    display: flex;
  }

  > .dropdown-toggle {
    .icon {
      transform: scaleY(-1);
    }
  }
}

.dropdown {
  $dropdown: &;

  &--full-width {
    #{$dropdown}-toggle,
    #{$dropdown}-menu {
      width: 100%;
    }

    #{$dropdown}-menu {
      max-width: none;
    }
  }

  &-toggle {
    &.btn {
      display: inline-flex;
      justify-content: space-between;
    }

    .text-ellipsis {
      max-width: 350px;
    }
  }

  &-menu {
    border: $border-base;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;
    flex-direction: column;
    max-height: 200px;
    max-width: 400px;
    min-width: 200px;
    overflow: auto;
    padding: 8px;

    @media (max-width: $screen-sm-max) {
      max-width: 100%;
    }

    &-scrollable {
      height: auto;
      max-height: 420px;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
    }

    hr,
    .divider {
      border-top-color: $color-gray-06;
      margin: 8px 0;
    }

    &.dropdown-menu-top {
      bottom: 100%;
      margin: 0 0 2px 0;
      top: auto;
    }
  }

  &-item {
    align-items: center;
    border-radius: $border-radius-base;
    clear: both;
    color: $dropdown-link-color;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-weight: 400;
    line-height: $dropdown-line-height;
    white-space: nowrap;
    width: 100%;

    &:hover,
    &.active,
    &.active:hover {
      background-color: $dropdown-link-hover-bg;
      color: $dropdown-link-hover-color;
      text-decoration: none;
    }

    &.disabled {
      background-color: transparent;
      cursor: $cursor-disabled;
    }

    &-text {
      flex-grow: 1;
      padding: 4px 8px;
    }

    &-sm {
      font-size: $font-size-normal;

      .dropdown-item-text {
        padding: 0 5px;
      }
    }

    .to-left {
      order: -1;
    }

    .to-right {
      margin-left: auto;
      order: 9999;
    }
  }

  &-input-button {
    cursor: pointer !important;
    padding: 10px 7px 10px 5px;
    position: absolute;
    right: 1px;
    top: 1px;
  }

  .form-control {
    padding-right: 30px;
  }
}

.dropup {
  .dropdown-toggle {
    .icon {
      @include rotate(180deg);
    }
  }
}
