textarea {
  resize: none;
}

.control-label {
  font-weight: $font-weight-normal;
}

.form-group {
  margin-bottom: $grid;

  &.has-success {
    .control-label {
      color: $color-green-04;
    }

    .form-control {
      box-shadow: none;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 1px $color-green-04;
      }
    }
  }

  &.has-error {
    .control-label {
      color: $color-red-00;
    }

    .form-control {
      box-shadow: none;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 1px $color-red-00;
      }
    }
  }
}

.form-control {
  @include placeholder($color-gray-05);

  appearance: none;
  border-color: $color-gray-06;
  border-radius: $btn-border-radius-base;
  box-shadow: none;
  padding: 9px $grid / 2;

  &[disabled] {
    background-color: $color-gray-04 !important;
    color: $color-gray-07 !important;
  }

  &:hover {
    border-color: $color-gray-02;
  }

  &:focus {
    box-shadow: 0 0 0 1px $color-gray-00;
  }

  &-sm {
    font-size: $font-size-small;
    height: $grid * 1.5;
    padding: 0 14px;
  }

  &-lg {
    font-size: $font-size-large;
    height: $grid * 2.5;
    padding: 9px 14px;
  }

  &-block {
    display: block;
    width: 100%;
  }
}

.form-control,
textarea.form-control {
  height: $grid * 2;
}

.form-horizontal {
  .control-label {
    text-align: left;
  }
}

@include tablet {
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 4px;
  }
}
