.icon {
  display: inline-block;
  fill: $color-gray-00;
  height: 24px;
  width: 24px;
  position: relative;

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }

  &-size {
    &--32 {
      height: 32px;
      width: 32px;
    }
  }

  &-color {
    &--white {
      fill: $color-white;
    }

    &--gray-05 {
      fill: $color-gray-05;
    }
  }
}
