$alignments: center left right justify;

$offsets: (
  '0': 0,
  '0-5': ($spacer / 2),
  '1': $spacer,
  '1-5': ($spacer * 1.5),
  '2': ($spacer * 2),
  '3': ($spacer * 3),
  '4': ($spacer * 4),
  '5': ($spacer * 5),
  '6': ($spacer * 6),
  '7': ($spacer * 7),
  '8': ($spacer * 8),
  '9': ($spacer * 9),
  '10': ($spacer * 10),
  '11': ($spacer * 11),
  '12': ($spacer * 12),
) !default;

$font-weights: (
  'light': $font-weight-light,
  'normal': $font-weight-normal,
  'medium': $font-weight-medium,
  'bold': $font-weight-bold,
  'heavy': $font-weight-heavy,
) !default;

@mixin phone {
  @media (max-width: $phone-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-start) and (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-start) {
    @content;
  }
}

@mixin text-alignment($size: '') {
  @each $alignment in $alignments {
    .text#{$size}-#{$alignment} {
      text-align: $alignment;
    }
  }
}

@mixin text-color($parent, $color) {
  #{$parent},
  a#{$parent}:hover,
  a#{$parent}:focus {
    color: $color !important;
  }
}

@mixin offsets($size: '') {
  @each $offset-name, $offset in $offsets {
    .offset#{$size}-#{$offset-name} {
      margin: $offset !important;
    }

    .offset#{$size}-n#{$offset-name} {
      margin: -$offset !important;
    }

    .offset#{$size}-top-#{$offset-name} {
      margin-top: $offset !important;
    }

    .offset#{$size}-top-n#{$offset-name} {
      margin-top: -$offset !important;
    }

    .offset#{$size}-bottom-#{$offset-name} {
      margin-bottom: $offset !important;
    }

    .offset#{$size}-bottom-n#{$offset-name} {
      margin-bottom: -$offset !important;
    }

    .offset#{$size}-left-#{$offset-name} {
      margin-left: $offset !important;
    }

    .offset#{$size}-left-n#{$offset-name} {
      margin-left: -$offset !important;
    }

    .offset#{$size}-right-#{$offset-name} {
      margin-right: $offset !important;
    }

    .offset#{$size}-right-n#{$offset-name} {
      margin-right: -$offset !important;
    }

    .padding#{$size}-#{$offset-name} {
      padding: $offset !important;
    }

    .padding#{$size}-top-#{$offset-name} {
      padding-top: $offset !important;
    }

    .padding#{$size}-bottom-#{$offset-name} {
      padding-bottom: $offset !important;
    }

    .padding#{$size}-left-#{$offset-name} {
      padding-left: $offset !important;
    }

    .padding#{$size}-right-#{$offset-name} {
      padding-right: $offset !important;
    }
  }
}

@mixin flex($size: '') {
  .flex#{$size}-auto {
    flex: 1 0 0%;
  }

  .flex#{$size}-row {
    flex-direction: row;
  }

  .flex#{$size}-row-reverse {
    flex-direction: row-reverse;
  }

  .flex#{$size}-column {
    flex-direction: column;
  }

  .flex#{$size}-column-reverse {
    flex-direction: column-reverse;
  }

  .flex#{$size}-wrap {
    flex-wrap: wrap;
  }

  .flex#{$size}-nowrap {
    flex-wrap: nowrap;
  }

  .justify-content#{$size}-center {
    justify-content: center;
  }

  .justify-content#{$size}-between {
    justify-content: space-between;
  }

  .justify-content#{$size}-around {
    justify-content: space-around;
  }

  .justify-content#{$size}-start {
    justify-content: flex-start;
  }

  .justify-content#{$size}-end {
    justify-content: flex-end;
  }

  .align-items#{$size}-center {
    align-items: center;
  }

  .align-items#{$size}-baseline {
    align-items: baseline;
  }

  .align-items#{$size}-start {
    align-items: flex-start;
  }

  .align-items#{$size}-end {
    align-items: flex-end;
  }

  .align-items#{$size}-stretch {
    align-items: stretch;
  }
}

@mixin font-weights() {
  @each $weight-name, $weight-value in $font-weights {
    .font-weight-#{$weight-name} {
      font-weight: $weight-value !important;
    }
  }
}

@mixin media-vertical() {
  flex-direction: column;

  .media-right,
  .media > .pull-right {
    padding-left: 0;
  }

  .media-left,
  .media > .pull-left {
    padding-right: 0;
  }

  .media-left,
  .media-right,
  .media-body {
    padding-bottom: 10px;
  }

  .media-object:not(.media-object-expanded) {
    display: inline-block;
  }

  .media-object-expanded {
    width: 100%;
  }
}

@mixin normalize() {
  background: none !important;
  border: 0 !important;
  border-radius: 0 !important;
  bottom: auto !important;
  box-shadow: none !important;
  cursor: auto !important;
  display: block !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  margin: 0 !important;
  max-height: none !important;
  max-width: none !important;
  min-height: auto !important;
  min-width: auto !important;
  opacity: 1 !important;
  outline: none !important;
  overflow: visible !important;
  padding: 0 !important;
  pointer-events: auto !important;
  position: static !important;
  right: auto !important;
  top: auto !important;
  transform: none !important;
  transition: none !important;
  visibility: visible !important;
  width: auto !important;
  z-index: auto !important;
}
