.modal {
  &:after {
    background-color: $modal-backdrop-bg;
    content: '';
    display: block;
    height: 100vh;
    left: 0;
    opacity: $modal-backdrop-opacity;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $zindex-modal-background;
  }

  &-dialog {
    z-index: $zindex-modal;
  }

  &-content {
    border-radius: 12px;
    box-shadow: $box-shadow-base;
    display: flex;
    flex-direction: column;
  }

  &-header {
    align-items: flex-start;
    border-bottom: 0;
    display: flex;
    flex-shrink: 0;

    .close {
      display: flex;
      margin: (-$spacer + 2px) (-$spacer) (-$spacer) auto;
      order: 9999;
      padding: $spacer;
    }
  }

  &-title {
    font-size: $font-size-base;
  }

  &-body {
    flex: 1 1 auto;
  }

  &-footer {
    border: 0;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    padding: 15px 20px;

    .btn-link {
      padding-left: 0;
      padding-right: 0;
    }

    .btn + .btn {
      margin-left: 10px;
    }
  }

  &-scrollable {
    overflow: hidden;

    .modal-body {
      overflow-y: auto;
    }
  }
}
