.panel {
  background: $color-gray-04;
  border-radius: $border-radius-large;
  padding: 30px;
  position: relative;

  .table {
    margin-bottom: 0;
  }

  &__loader {
    background: rgba($color-white, 0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    .loader {
      color: $color-gray-02;
      top: 30%;
    }
  }
}
