.panel {
  background: $color-gray-04;
  border-radius: $border-radius-large;
  padding: 30px;

  .table {
    margin-bottom: 0;
  }

  &__loader {
    background: rgba($color-white, 0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .loader {
      top: 33%;
    }
  }
}
