body {
  color: $color-gray-00;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a,
.btn {
  cursor: pointer;

  &:focus,
  &:focus:active {
    outline: 0;
  }
}
