.switch {
  $switch: &;

  align-items: center;
  display: inline-flex;
  position: relative;
  user-select: none;

  &__input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -1;

    &:checked {
      & + #{$switch}__switcher {
        background: $color-green-04;

        &:before {
          transform: translate3d(100%, 0, 0);
        }
      }
    }

    &:disabled {
      & + #{$switch}__switcher {
        cursor: $cursor-disabled;
        opacity: 0.65;

        & + .control-label {
          color: $color-gray-02;
          cursor: $cursor-disabled;
        }
      }
    }
  }

  &__switcher {
    align-items: center;
    background: $color-gray-02;
    border-radius: 14px;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: 24px;
    padding: 4px;
    transition: background 0.15s ease-out;
    width: 40px;

    &:before {
      @include square(16px);

      background: $color-white;
      border-radius: 100%;
      content: '';
      display: block;
      transform-origin: left;
      transition: transform 0.15s ease-out;
    }

    & + .control-label {
      cursor: pointer;
      padding: 0 0 0 8px;
    }
  }
}
