.tooltip {
  &-inner {
    background: $color-white;
    border: $border-base;
    box-shadow: $box-shadow-base;
    color: $color-gray-00;
    font-size: $font-size-normal;
    padding: 8px;
  }
}

.has-tooltip {
  cursor: help;
}
