$app:                       hiway;

// Colors

$color-white:             #fff !default;
$color-black:             #000 !default;
$color-gray-00:           #131f33 !default; // dark
$color-gray-02:           #abb3bf !default; // 400
$color-gray-03:           #ebeff0 !default; // 100
$color-gray-04:           #f6f8f8 !default; // 50
$color-gray-05:           #959ca6 !default; // 500
$color-gray-06:           #dde0e4 !default; // 200
$color-gray-07:           #6a7586 !default; // 600
$color-gray-08:           #4b5461 !default; // 700
$color-gray-09:           #2d3a50 !default; // 800
$color-green-00:          #007577 !default;
$color-green-01:          #00babd !default;
$color-green-02:          #7fdcde !default;
$color-green-03:          #ebf7f2 !default;
$color-green-04:          #44ba88 !default;
$color-purple-00:         #2a2373 !default;
$color-purple-01:         #6063d3 !default;
$color-purple-02:         #9356f5 !default;
$color-pink-00:           #fecdd3 !default;
$color-red-00:            #f66161 !default;

$link-color:                $color-purple-02 !default;
$link-hover-color:          $color-purple-02 !default;

// Borders

$border-radius-large:       12px !default;
$border-radius-base:        6px !default;
$border-radius-box:         5px !default;
$border-solid-dark:         1px solid $color-gray-02 !default;
$border-solid:              1px solid $color-gray-03 !default;
$border-solid-light:        1px solid $color-gray-04 !default;

$hr-border:                 $color-gray-03 !default;

// Fonts

$font-size-small:           12px !default;
$font-size-normal:          14px !default;
$font-size-base:            16px !default;
$font-size-large:           18px !default;
$font-size-h1:              42px !default;
$font-size-h2:              34px !default;
$font-size-h3:              28px !default;
$font-size-h4:              24px !default;
$font-size-h5:              18px !default;
$font-size-h6:              $font-size-small !default;

$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-medium:        500 !default;
$font-weight-bold:          600 !default;
$font-weight-heavy:         700 !default;

// Line heights

$line-height-base:          1.5 !default;
$line-height-computed:      floor(($font-size-base * $line-height-base)) !default;
$line-height-h1:            1.1 !default;
$line-height-h2:            1.3 !default;
$line-height-h3:            1.4 !default;
$line-height-h4:            1.4 !default;
$line-height-h5:            1.3 !default;
$line-height-h6:            1.4 !default;

// Text variants

$text-muted:                $color-gray-02 !default;

// Buttons

$btn-lg-height:             50px !default;

// Forms

$input-height-large:        $btn-lg-height !default;
$input-border:              $color-gray-03 !default;
$input-border-focus:        $color-gray-00 !default;

$form-group-margin-bottom:  30px !default;

// Dropdowns

$dropdown-line-height:      floor(($line-height-computed * 1.4546)) !default;
$dropdown-link-hover-bg:    $color-gray-03;
$dropdown-link-hover-color: $color-gray-00;

// Modals

$modal-backdrop-bg:         $color-gray-00 !default;
$modal-backdrop-opacity:    0.7 !default;
$modal-sm:                  430px !default;

// Units

$border-base:               1px solid rgba($color-gray-00, 0.05);
$box-shadow-base:           0 5px 12px rgba($color-black, 0.1);
$grid:                      20px !default;
$spacer:                    10px !default;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

// Responsive utils

$phone-width:               768px !default;
$tablet-width:              1024px !default;
$tablet-start:              $phone-width - 1 !default;
$desktop-start:             $tablet-width + 1 !default;
